.modal-inner-container {
}

.modal-mask {
  width:100%;
  height:100%;
  z-index:9998;
  background-color: rgba(0, 0, 0, .55);
  position:fixed;
  top:0;
  left:0;
  transition: opacity .3s ease;
}

.modal-window {
  position:absolute;
  border-radius:5px;
  z-index:9999;
  width:50%;
  min-height:100px;
  max-height:80%;
  overflow:scroll;
  margin:auto;

  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.modal-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:20px;
}

@media screen and (max-width: 480px) {
  .modal-window {
    width:100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  .modal-window {
    width:75%;
  }
}

.exit {
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.exit-button {
  border-radius: 50%;
  color:white;
}