@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/font-awesome/font-awesome";

body {
  width:600px;
  max-width:800px;
}

table {
  table-layout: fixed;
  width: 100%
}

td {
  overflow:scroll;
  /* css-3 */
  //white-space: -o-pre-wrap;
  //word-wrap: break-word;
  //white-space: pre-wrap;
  //white-space: -moz-pre-wrap;
  //white-space: -pre-wrap;

}